/*
===============
General Styling
===============
*/


* {
	box-sizing: border-box;
}

.page {
	text-align: center;
	padding-top: 150px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
}

.goalstrive-logo {
	color: #A14E3E;
	font-family: 'Poiret One', cursive;
	font-size: 40px;
	background: -webkit-linear-gradient(#E84428, #300E08);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.button {
	margin-bottom: 20px;
	width: 200px;
	height: 45px;
	color: #C6FFEC;
	background-color: #59D1AA;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	border: none;
}

.quote {
	font-size: 25px;
	width: 70%;
	margin: 0 auto;
}

.grey-text {
	color: #9F9E9E;
}

.button:hover {
	color: #A7F7DB;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #C7BFBF;
  font-weight: normal;
  font-family: 'Raleway', cursive;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #C7BFBF;
  font-weight: normal;
  font-family: 'Raleway', cursive;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #C7BFBF;
  font-weight: normal;
  font-family: 'Raleway', cursive;
}
:-moz-placeholder { /* Firefox 18- */
  color: #C7BFBF;
  font-weight: normal;
  font-family: 'Raleway', cursive;
}


/*
==============
Navbar Styling
==============
*/


.navbar {
	background-color: #59D1AA;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 60px;
}

.navbar-header {
	position: absolute;
	top: 7px;
	left: 18px;
	margin: 0px;
}

.nav-link {
	display: inline;
	color: #8A2818;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	margin: 10px;
}

#login-nav-link {
	top: 20px;
}

#get-started-link {
	color: #C6FFEC;
	border: 1px solid #C6FFEC;
	border-radius: 2px;
	padding: 5px;
	top: 15px;
}

.navbar-links {
	position: absolute;
	right: 30px;
	padding: 19px;
}

.navbar-header:hover, #login-nav-link:hover, #get-started-link:hover, .button:hover, #my-goals-link:hover, .alt-link:hover, #logout-nav-link {
	cursor: pointer;
}

#login-nav-link:hover, #my-goals-link:hover, .alt-link:hover {
	color: #611C11;
}

#get-started-link:hover {
	color: #A7F7DB;
	border-color: #A7F7DB;
}

.hidden {
	display: none;
}


/*
==============
Footer Styling
==============
*/


footer {
	background-color: #59D1AA;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
}

#copyright {
	font-size: 12px;
	margin: 0;
	position: absolute;
	left: 15px;
	top: 20px;
}

#github-logo {
	position: absolute;
	right: 10px;
	top: 5px;
	width: 40px;
	height: 40px;
	border-radius: 5px;
}


/*
================
Homepage Styling
================
*/


.homepage-header {
	width: 66%;
	margin: 0 auto;
	font-size: 55px;
	font-weight: normal;
}

.bold {
	font-weight: bold;
}

.overview {
	width: 55%;
	margin: 25px auto;
	font-size: 20px;
	line-height: 180%;
}

#login-or-demo {
	font-family: 'Poiret One', cursive;
}

.alt-link {
	font-weight: bold;
	color: #8A2818;
}

#demo {
	margin: 8px;
	color: #59D1AA;
	display: inline-block;
	font-family: 'Poiret One', cursive;
}

#demo:hover {
	color: #2B8465;
}

#more-info {
	margin: 33px;
}


/*
==================
Sign Up/Log In Page Styling
==================
*/


.auth-box {
	border: 3px solid #59D1AA;
	border-radius: 5px;
	width: 33%;
	margin: 0 auto;
	height: 450px;
	padding: 15px 0;
	box-shadow: 0 5px 10px -2px gray;
}

.auth-box-header {
	font-size: 60px;
	margin: 20px;
}

.user-info {
	display: block;
	margin: 25px auto;
	height: 40px;
	width: 58%;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	padding-left: 10px;
}


/*
=====================
No Goals Page Styling
=====================
*/


#goals-list {
	text-align: left;
}

#no-goals {
	padding-top: 100px;
	width: 90%;
	margin: 0 auto;
}

#no-destination-goals-header {
	font-size: 55px;
	font-weight: normal;
	margin: 50px;
}

#no-goals-message {
	width: 60%;
	margin: 40px auto 65px auto;
	font-size: 20px;
}

#suggested-section {
	margin: 100px 0 250px 0;
}

.suggested-goals {
	display: inline-block;
	line-height: 300%;
	list-style: ;
	font-size: 20px;
	text-align: left;
	margin-right: 5%;
	margin-left: 10%;
	list-style-type: none;
}

.suggested-goals li:before {
  content: '\2014';
  position: absolute;
  margin-left: -20px;
}

#ideas-message {
	font-size: 30px;
}


/*
=================================
New Destination Goal Form Styling
=================================
*/


#new-destination-goal-page {
	padding-top: 100px;
}

#new-goal-header {
	font-size: 50px;
	font-weight: normal;
}

#new-goal-box {
	border: 2px solid #59D1AA;
	border-radius: 5px;
	width: 60%;
	margin: 0 auto 115px auto;
	height: 650px;
	box-shadow: 0 5px 10px -2px gray;
}

#new-goal-form {
	margin: 60px auto;
	padding: 20px;
}

.new-goal-label {
	font-size: 25px;
}

.goal-info {
	display: block;
	margin: 20px auto 40px auto;
	height: 40px;
	width: 60%;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	padding-left: 10px;
}

#description-input {
	height: 78px;
	resize: none;
}

#submit-new-goal-button {
	width: 250px;
	height: 60px;
}


/*
=================================
My Destination Goals Page Styling
=================================
*/


#my-destination-goals-page {
	width: 85%;
	margin: 0 auto;
	text-align: left;
}

#my-destination-goals-header {
	font-size: 55px;
	font-weight: normal;
	margin: 0 0 60px 0;
}

.destination-goal {
	color: #59D1AA;
	font-size: 40px;
	margin: 0 20px 0 40px;
	display: inline-block;
}

.eta {
	font-size: 30px;
	color: #ABABAB;
}

.dropdown-arrow {
	float: right;
	margin-top: 15px;
	font-size: 30px;
}

.dropdown-arrow:hover {
	cursor: pointer;
}

.destination-goal-description {
	margin: 40px auto 60px auto;
	text-align: center;
	width: 70%;
	padding: 20px;
	box-shadow: 0 5px 14px -2px gray;
	border-radius: 10px;
}

#checkpoints-header {
	font-size: 40px;
	font-weight: normal;
	margin: 0 20px 40px 80px;
}

#checkpoint-goals-list {
	margin: 0 20px 80px 90px;
	font-size: 22px;
	list-style-position: inside;
	list-style: none;
	border-left: solid 5px #59D1AA;
	border-radius: 10px;
	padding-left: 20px;
}

.checkpoint-goal {
	margin: 60px 0 60px 0;
}

.checkpoint-goal::before {
	content: "•    ";
	color: #59D1AA;
	font-size: 30px;
}

#new-checkpoint {
	border: none;
	font-size: 22px;
}








