/*
===============
General Styling
===============
*/


* {
	box-sizing: border-box;
}

body {
	margin-bottom: 150px;
}

.page {
	text-align: center;
	padding-top: 150px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
}

.goalstrive-logo {
	color: #A14E3E;
	font-family: 'Poiret One', cursive;
	font-size: 40px;
	background: -webkit-linear-gradient(#E84428, #300E08);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.button {
	margin-bottom: 20px;
	width: 200px;
	height: 45px;
	color: #C6FFEC;
	background-color: #59D1AA;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	border: none;
}

.quote {
	font-size: 25px;
	width: 70%;
	margin: 20px auto;
}

.grey-text {
	color: #9F9E9E;
}

.button:hover {
	color: #A7F7DB;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #C7BFBF;
	font-weight: normal;
	font-family: 'Raleway', cursive;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #C7BFBF;
	font-weight: normal;
	font-family: 'Raleway', cursive;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #C7BFBF;
	font-weight: normal;
	font-family: 'Raleway', cursive;
}
:-moz-placeholder { /* Firefox 18- */
	color: #C7BFBF;
	font-weight: normal;
	font-family: 'Raleway', cursive;
}


/*
==============
Navbar Styling
==============
*/


.navbar {
	background-color: #59D1AA;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 60px;
}

.navbar-header {
	position: absolute;
	top: 7px;
	left: 18px;
	margin: 0px;
}

.nav-link {
	display: inline;
	color: #8A2818;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	margin: 10px;
}

#login-nav-link {
	top: 20px;
}

#get-started-link {
	color: #C6FFEC;
	border: 1px solid #C6FFEC;
	border-radius: 2px;
	padding: 5px;
	top: 15px;
}

.navbar-links {
	position: absolute;
	right: 30px;
	padding: 19px;
}

.navbar-header:hover, #login-nav-link:hover, #get-started-link:hover, .button:hover, #my-goals-link:hover, .alt-link:hover, #logout-nav-link:hover, .delete-goal:hover, .demo-button:hover {
	cursor: pointer;
}

#login-nav-link:hover, #my-goals-link:hover, .alt-link:hover, #logout-nav-link:hover {
	color: #611C11;
}

#get-started-link:hover {
	color: #A7F7DB;
	border-color: #A7F7DB;
}

.delete-goal:hover {
	color: #F22112; 
	font-weight: bold;
}

.hidden {
	display: none;
}


/*
==============
Footer Styling
==============
*/


footer {
	background-color: #59D1AA;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
}

#copyright {
	font-size: 12px;
	margin: 0;
	position: absolute;
	left: 15px;
	top: 20px;
}

#github-logo {
	position: absolute;
	right: 10px;
	top: 5px;
	width: 40px;
	height: 40px;
	border-radius: 5px;
}


/*
================
Homepage Styling
================
*/


.homepage-header {
	width: 66%;
	margin: 0 auto;
	font-size: 55px;
	font-weight: normal;
}

.bold {
	font-weight: bold;
}

.overview {
	width: 55%;
	margin: 25px auto;
	font-size: 20px;
	line-height: 180%;
}

#login-or-demo {
	font-family: 'Poiret One', cursive;
}

.alt-link {
	font-weight: bold;
	color: #8A2818;
}


#more-info {
	margin: 40px;
}


/*
==================
Sign Up/Log In Page Styling
==================
*/


.auth-box {
	border: 3px solid #59D1AA;
	border-radius: 5px;
	width: 33%;
	margin: 0 auto;
	padding: 10px 0;
	box-shadow: 0 5px 10px -2px gray;
}

.auth-box-header {
	font-size: 60px;
	margin: 20px;
}

.user-info {
	display: block;
	margin: 25px auto;
	height: 40px;
	width: 58%;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	padding-left: 10px;
}

.error-message {
	color: red;
	font-weight: bold;
	width: 70%;
	margin: 10px auto;
}

.login-error {
	width: 80%;
	margin: 5px auto;
	font-size: 14px;
}

#empty-fields {
	margin: 18px auto;
}

.try-demo {
	margin: 25px auto 20px auto;
	font-weight: normal;
	font-size: 14px;
}

.demo-button {
	color: #59d1aa;
	font-weight: bold;
}

.demo-button:hover {
	color: #3aa58e;
}


/*
=====================
No Goals Page Styling
=====================
*/


#goals-list {
	margin: 0 auto;
}

#no-goals {
	padding-top: 100px;
	width: 90%;
	margin: 0 auto;
}

#no-destination-goals-header {
	font-size: 55px;
	font-weight: normal;
	margin: 50px;
}

#no-goals-message {
	width: 60%;
	margin: 40px auto 65px auto;
	font-size: 20px;
}

#suggested-section {
	margin: 100px 0 250px 0;
}

.suggested-goals {
	display: inline-block;
	line-height: 300%;
	list-style: ;
	font-size: 20px;
	text-align: left;
	margin-right: 5%;
	margin-left: 10%;
	list-style-type: none;
}

.suggested-goals li:before {
	content: '\2014';
	position: absolute;
	margin-left: -20px;
}

#ideas-message {
	font-size: 30px;
}


/*
=================================
New Destination Goal Form Styling
=================================
*/


#new-destination-goal-page {
	padding-top: 100px;
}

#new-goal-header {
	font-size: 50px;
	font-weight: normal;
}

#new-goal-box {
	border: 2px solid #59D1AA;
	border-radius: 5px;
	width: 60%;
	margin: 0 auto 115px auto;
	height: 650px;
	box-shadow: 0 5px 10px -2px gray;
}

#new-goal-form {
	margin: 60px auto;
	padding: 20px;
}

.new-goal-label {
	font-size: 25px;
}

.goal-info {
	display: block;
	margin: 20px auto 40px auto;
	height: 40px;
	width: 60%;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	padding-left: 10px;
	border: 1px solid #c3c3c3;
}

#description-input {
	height: 78px;
	resize: none;
}

#submit-new-goal-button {
	width: 250px;
	height: 60px;
}


/*
=================================
My Destination Goals Page Styling
=================================
*/


#my-destination-goals-page {
	width: 85%;
	margin: 0 auto;
	text-align: left;
	padding-top: 125px;
}

#my-destination-goals-header {
	font-size: 55px;
	font-weight: normal;
	margin: 0 0 60px 0;
}

.goal-and-eta-box {
	margin-top: 50px;
	margin-bottom: 40px;
}

.destination-goal {
	color: #59D1AA;
	font-size: 40px;
	margin: 0 20px 0 40px;
	display: inline-block;
}

.eta {
	font-size: 30px;
	color: #ABABAB;
	display: inline-block;
}

.dropdown-arrow {
	float: right;
	margin-top: 15px;
	font-size: 30px;
}

.dropdown-arrow:hover {
	cursor: pointer;
}

.destination-goal-description {
	margin: 0 auto 60px auto;
	text-align: center;
	width: 70%;
	padding: 20px;
	box-shadow: 0 5px 14px -2px gray;
	border-radius: 10px;
}

#checkpoints-header {
	font-size: 40px;
	font-weight: normal;
	margin: 0 20px 40px 80px;
}

#checkpoint-goals-list {
	margin: 0 20px 60px 90px;
	font-size: 22px;
	list-style-position: inside;
	list-style: none;
	border-left: solid 5px #59D1AA;
	border-radius: 10px;
	padding-left: 20px;
}

.checkpoint-goal {
	margin: 30px 0 60px 0;
}

.new-checkpoint-form::before, .individual-checkpoint-goal::before {
	content: "•    ";
	color: #59D1AA;
	font-size: 30px;
}

.individual-checkpoint-goal {
	margin: 30px 0;
}

.new-checkpoint {
	border: none;
	font-size: 22px;
}

.delete-goal {
	font-size: 13px;
	color: rgba(232, 36, 19, 0.8);
	font-weight: normal;
	float: right;
}

.individual-goal {
	padding-bottom: 30px;
	box-shadow: 0 4px 2px -2px #efefef;
	border-radius: 8px;
}

#goals-page-button {
	margin-left: 40px;
	margin-top: 40px;
	width: 254px;
	font-size: 18px;
}


/*
=============
Media Queries
=============
*/

@media (max-width: 1060px) {
	.suggested-goals {
		margin-right: 7%;
		margin-left: 0;
	}
}


@media (max-width: 950px) {

	.homepage-header {
		width: 90%;
		margin: 0 auto;
		font-size: 50px;
		font-weight: normal;
	}

	.overview {
		width: 70%;
		margin: 25px auto;
		font-size: 18px;
		line-height: 180%;
	}

	#get-started-button {
		width: 150px;
		height: 35px;
		font-size: 15px;
	}

	#login-or-demo {
		font-family: 'Poiret One', cursive;
		font-size: 13px;
	}

	.alt-link {
		font-weight: bold;
		color: #8A2818;
	}


	#more-info {
		margin: 40px;
	}

	.auth-box {
		width: 50%;
	}

	.suggested-goals {
		margin-right: -2%;
		margin-left: 2%;
	}

	#new-goal-box {
		width: 85%;
	}

}

@media (max-width: 750px) {
	#no-destination-goals-header {
		margin: 25px auto;
	}

	#no-goals-message {
		font-size: 17px;
		width: 85%;
	}

	.suggested-goals {
		font-size: 17px;
	}

	.quote {
		font-size: 15px;
		width: 85%;
	}

	#my-destination-goals-header {
		font-size: 40px;
	}

	.destination-goal {
		font-size: 35px;
	}

	.eta {
		font-size: 22px;
	}

	.destination-goal-description {
		width: 60%;
		font-size: 14px;
	}

	#checkpoints-header {
		font-size: 28px;
	}

	#checkpoint-goals-list, .new-checkpoint {
		font-size: 17px;
	}

	.delete-goal {
		font-size: 12px;
	}

	.dropdown-arrow {
		margin-top: 10px;
		font-size: 23px;
	}

	#goals-page-button {
		width: 230px;
		font-size: 15px;
	}

}

@media (max-width: 660px) {
	.homepage-header {
		width: 95%;
		margin: 0 auto;
		font-size: 40px;
		font-weight: normal;
	}

	.overview {
		width: 80%;
		margin: 25px auto;
		font-size: 13px;
		line-height: 180%;
	}

	#get-started-button {
		width: 150px;
		height: 35px;
		font-size: 15px;
	}

	#login-or-demo {
		font-family: 'Poiret One', cursive;
		font-size: 13px;
	}

	.alt-link {
		font-weight: bold;
		color: #8A2818;
	}


	#more-info {
		margin: 40px;
	}

	.auth-box {
		width: 85%;
	}

	#no-destination-goals-header {
		font-size: 40px;
		width: 95%;
		margin: 25px auto;
	}

	#no-goals-message {
		font-size: 15px;
		width: 85%;
	}

	.button {
		width: 180px;
		font-size: 17px;
	}

	#ideas-message {
		font-size: 26px;
	}

	.suggested-goals {
		font-size: 15px;
		margin-right: 10%;
		margin-left: 0;
	}

	#goals-list {
		text-align: center;
		margin: 0 auto;
	}

	.quote {
		font-size: 18px;
		width: 90%;
	}

	#new-goal-box {
		width: 85%;
	}

	#new-goal-header {
		font-size: 40px;
	}

	.new-goal-label {
		font-size: 19px;
	}

	.goal-info {
		width: 75%;
		font-size: 17px;
	}

	#submit-new-goal-button {
		width: 220px;
		height: 45px;
		margin-bottom: 0;
	}

	#new-goal-form {
		margin: 80px auto;
	}

	#my-destination-goals-header {
		font-size: 31px;
		margin: 0 auto;
		text-align: center;
		width: 100%;
	}

	.destination-goal {
		margin: 0 4px 0 11px;
		font-size: 27px;
	}

	.eta {
		font-size: 16px;
	}

	.dropdown-arrow {
		margin-top: 13px;
		font-size: 19px;
	}

	#checkpoints-header {
		margin-left: 41px;
	}

	.destination-goal-description {
		width: 78%;
		font-size: 12px;
	}

	#checkpoint-goals-list, .new-checkpoint {
		font-size: 15px;
	}

	.delete-goal {
		font-size: 10px;
	}

	#goals-page-button {
		margin-left: 0;
		width: 186px;
		font-size: 13px;
	}
}

@media (max-width: 520px) {

	.auth-box {
		width: 80%;
	}

	#checkpoint-goals-list {
		margin-left: 41px;
	}
}

@media (max-width: 436px) {

	.auth-box {
		width: 95%;
	}

	.user-info {
		width: 75%;
	}

	#new-goal-box {
		width: 98%;
		height: 590px;
	}

	#new-goal-form {
		padding: 10px;
		margin: 64px auto;
	}

	.goal-info {
		font-size: 15px;
	}

	#submit-new-goal-button {
		width: 192px;
		height: 45px;
	}

	#new-goal-header {
		margin: 30px auto;
	}

	.navbar-links {
		font-size: 12px;
		padding: 24px 0;
	}

	.eta {
		display: inline-block;
		margin: 10px;
	}
}

@media (max-width: 376px) {

	.page {
		padding-top: 90px;
	}

	.homepage-header {
		font-size: 32px;
	}

	.auth-box-header {
		font-size: 45px;
	}

	.user-info {
		height: 33px;
		font-size: 17px;
	}

	.button {
		width: 167px;
    	font-size: 15px;
	}

	#no-destination-goals-header {
		font-size: 32px;
	}

	#no-goals-message {
		margin-bottom: 45px;
	}

	#ideas-message {
		margin-top: 0;
	}

	#new-destination-goal-page {
		padding-top: 58px;
	}

	#new-goal-header {
		font-size: 32px;
	}

	#new-goal-form {
		margin: 30px auto;
	}

	#new-goal-box {
		height: 460px;
	}

	.goal-info {
		margin-bottom: 11px;
	}

	#navbar-logo {
		font-size: 28px;
		margin-top: 5px;
	}

	.navbar-links {
		padding: 24px 0;
	}

	.nav-link {
		margin: 6px;
		margin-right: 0;
	}

	#checkpoints-header {
		margin-left: 11px;
	}

	#checkpoint-goals-list {
		margin-left: 11px;
	}

	#checkpoint-goals-list, .new-checkpoint {
		font-size: 14px;
	}

	.new-checkpoint-form::before, .individual-checkpoint-goal::before {
		content: "• ";
		font-size: 22px;
}
}


@media (min-width: 1700px) {
	.homepage-header {
		width: 80%;
		margin: 0 auto;
		font-size: 70px;
	}

	.overview {
		width: 60%;
		margin: 50px auto;
		font-size: 25px;
		line-height: 180%;
	}

	.auth-box {
		width: 30%;
		height: 500px;
		padding: 50px;
	}

	.auth-box-header {
		font-size: 80px;
		margin-top: 0;
	}

	.user-info {
		width: 55%;
		font-size: 22px;
	}
}












